@import "../../../variables";

header {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  @media screen and (min-width: $breakpoint-mobile) and (max-width: calc(#{$breakpoint-tablet} - 1px)) {
    padding: 0 20px;
  }
  .mobile-menu-btn {
    background: transparent;
    border: 0;
    margin-right: 20px;
    border-radius: 50%;
    display: none;

    @media screen and (min-width: $breakpoint-mobile) and (max-width: calc(#{$breakpoint-tablet} - 1px)) {
      display: block;
    }
  }

  .mat-icon-menu {
    color: $color-white;
  }
}

.header {
  width: 100%;
  min-height: 70px;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 16px;
  }
}
