<h1>{{'WORKLOG.MENU_ITEM' | translate}}</h1>
<section>
  <table>
    <tbody>
      <tr *ngFor="let row of worklogTable">
        <td *ngIf="!row.time; else work" colspan="2" class="name">{{row.description}}</td>
        <ng-template #work>
          <td class="time">{{row.time}}h</td>
          <td>{{row.description}}</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</section>
<hr>

<h1>{{'WORKLOG.DIFFICULTIES' | translate}}</h1>
<section>
  <h3>{{'WORKLOG.COORDINATING' | translate}}</h3>
  <h3>{{'WORKLOG.STYLEGIUDE' | translate}}</h3>
  <h3>{{'WORKLOG.ANIMATION' | translate}}</h3>
</section>
<hr>
<app-evaluation></app-evaluation>
