:host {
  margin-left: auto;
}

.languages {
  &-btn-menu {
    height: 35px;
    width: 35px;
    text-transform: uppercase;
    padding: 5px;
    background-color: #90a4ae;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
  }
}
