<div>
  <p class="header">Architect of the day</p>
  <div *ngIf="authorOfDay; else spinner" class="author-of-day">
    <div class="col">
      <h1>{{authorOfDay.name}}</h1>
      <a [routerLink]="['/author',authorOfDay.id]">
        <img src="{{authorOfDay.image}}" alt="{{authorOfDay.name}}">
      </a>
      <p>{{authorOfDay.years}}</p>
    </div>
    <div class="col">
      <p>{{authorOfDay.shortDescription}}</p>
      <a [routerLink]="['/author',authorOfDay.id]" class="button-more">More</a>
    </div>
  </div>
  <ng-template #spinner>
    <div class="spinner-container">
      <mat-spinner color="white"></mat-spinner>
    </div>
  </ng-template>
</div>
