.card{
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0;
  margin: 10px 20px;
  position: relative;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: fadeIn ease 1s;
  &:hover {
    transform: translateY(10px);
  }
  img {
    width: 250px;
    height: 200px;
  }
  mat-card-header {
    justify-content: center;
  }
  mat-card-subtitle {
    margin-bottom: 3px;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .github-link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../../../assets/images/GitHub-Mark-120px-plus.png");
    background-size: cover;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-40px);
  }
  100% {
    opacity:1;
  }
}
