<mat-card class="card">
  <img mat-card-image src="{{ member.avatarUrl}}">
  <mat-card-header>
    <mat-card-title>{{ member.name }}</mat-card-title>
    <mat-card-subtitle>Role: {{ member.role}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a href="{{ member.githubUrl }}" >github</a>
  </mat-card-actions>
  <mat-card-footer class="info">
    <div class="info-content">
      <p *ngFor="let contribution of member.contribution">{{ contribution }}</p>
    </div>
  </mat-card-footer>
</mat-card>
