.main-wrap{
  display: flex;
  padding: 80px;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  .card{
    width: 250px;
    height: 300px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    &:hover{
      transform: scale(1.03);
    }
    .plus{
      font-size: 100px;
      color: rgb(255, 255, 255);
    }
  }
}
