@import '../../../variables';
@import '../../../mixins';

.video {
  &-watch-btn {
    width: 200px;
    height: 45px;
    background-color: $header-background-color;
    margin-top: 20px;
    @include hoveredButton;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($black-color, 0.7);
    transition: opacity, visibility 0.3s ease-in-out;
    z-index: 10;
  }

  &-element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 60%;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-height: $breakpoint-tablet) {
      width: 100%;
      height: 100%;
    }
  }

  iframe {
    height: 100%;
    width: 100%;
    background: rgba($black-color, 0.87);
    border: 0;
  }
}
