#host-div {
  display: flex;
  flex-direction: column;
}

#cards {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 70px;
  @media screen and (min-width: 270px) {
    margin-top: 20px
  }
  @media screen and (min-width: 650px) {
    margin: 20px 20px 0 20px;
    grid-template-columns:repeat(2, 1fr);
  }
  @media screen and (min-width: 1000px) {
    grid-template-columns:repeat(3, 1fr);
  }
  @media screen and (min-width: 1500px) {
    grid-template-columns:repeat(4, 1fr);
  }
}

mat-card{
  width: 200px;
  height: 350px;
  padding: 10px;
  @media screen and (min-width: 320px) {
    width: 300px;
  }
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
}

mat-card-header{
  margin-bottom: 10px;
}

mat-card-subtitle {
  margin-bottom: 10px;
}

.more-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 20%;;
}

.description {
  padding-right: 10px;
  max-height: 180px;
  overflow-y: auto;
}
