<mat-card *ngFor="let author of authors$ | async | filter : wordState" [class.mat-elevation-z]="true">
  <mat-card-header>
    <img class="avatar" matCardAvatar src="{{author.image}}">
    <mat-card-title>
      {{author.name}}
    </mat-card-title>
  </mat-card-header>
  <div class="description">
    <mat-card-subtitle>
      {{author.years}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{author.placeOfBirth}}
    </mat-card-subtitle>
    {{author.shortDescription}}
  </div>
  <mat-card-actions>
    <button class="more-button" mat-raised-button (click)="onMoreClick(author.id)">More...</button>
  </mat-card-actions>
</mat-card>
