<div class="navigation">
  <a class="navigation-logo" routerLink="/">
    <span class="navigation-title">Culture Portal</span>
    <span class="navigation-topic">Architects of Belarus</span>
  </a>

  <ul class="navigation-list">
    <li class="navigation-item" *ngFor="let item of navItems">
      <a
        class="navigation-link"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="item.path === '/' ? { exact: true } : {}"
        >{{ item.name | translate }}</a>
    </li>
  </ul>
</div>
