@import "../../../variables";

:host {
  width: 90%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint-tablet) {
    justify-content: center;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Italianno", cursive;
    text-decoration: none;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &-title {
    font-size: 30px;
  }
  &-topic {
    font-size: 20px;
  }

  &-list {
    list-style: none;
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      flex-wrap: wrap;
      font-size: 1.2em;
    }
  }

  &-item {
    & + & {
      margin-left: 20px;

      @media (max-width: $breakpoint-tablet) {
        margin-left: 0;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      width: 50%;
      margin-top: 10px;
      text-align: center;
    }
  }

  &-link {
    color: #ffffff;
    text-decoration: none;

    &.active,
    &:hover {
      color: #43a047;
    }
  }
}
