@import "../../../variables";

:host {
  width: 90%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Italianno", cursive;
    text-decoration: none;
  }
  &-title {
    font-size: 30px;
  }
  &-topic {
    font-size: 20px;
  }

  &-list {
    list-style: none;
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &-item {
    & + & {
      margin-left: 20px;
    }
  }

  &-link {
    color: #ffffff;
    text-decoration: none;

    &.active,
    &:hover {
      color: #43a047;
    }
  }
}
